/* Bootswatch theme adapted by the Tiki Community for Tiki Wiki CMS Groupware */
/* Original Bootswatch information:
 * bootswatch v5.3.3
 * Homepage: http://bootswatch.com
 * Copyright 2012-2022 Thomas Park
 * Licensed under MIT
 * Based on Bootstrap
 *
 * Adapted by the Tiki Community for Tiki Wiki CMS Groupware
*/

@import "../../base_files/scss/_tiki-bootstrap_functions"; // 1. Functions are included first (so colors, etc. can be manipulated).

@import "../scss/variables"; // 2. The first value declaration (the theme's) is used when it is declared in more than one imported file.
//@import "../scss/variables-dark"; // 3. Values of dark variables if color modes are enabled.
@import "../../../node_modules/bootswatch/dist/slate/variables"; // 4. Default Bootswatch theme variables.
@import "../../default/scss/variables"; // 5. Adds default variables for any not declared by the theme variables file.
//@import "../../default/scss/variables-dark"; // 6. Adds default dark variables for any not declared by the theme dark variables file.
@import "../scss/css-variables"; // 7. Imported after default CSS variables to override them.
@import "../../base_files/scss/_tiki-variables.scss"; // 8. Default value declarations for Tiki variables (in addition to Bootstrap variables) such as in _tiki-selectors.scss.

@import "../../base_files/scss/_tiki-bootstrap_layout_and_components"; // 9. Remainder of required Bootstrap parts.
@import "../../../node_modules/bootswatch/dist/slate/bootswatch"; // 10. Bootswatch theme selectors
@import "../../base_files/scss/_tiki-selectors.scss"; // 11. Tiki CSS selectors used globally.
@import "../../base_files/scss/_tiki-pagetop_colors.scss"; // 12. Optionally imported to group (separately) the top and topbar zone components for styling.
//@import "../scss/_tiki-selectors.scss"; // 11. Tiki CSS selectors, including those of external scripts, to be styled by the theme's variables.


//Theme variables aren't overriding default values for these.
body {
  color: #aaa;
  background: #272b30;
}

body.fullscreen { background: var(--#{$prefix}body-bg); }

// Increase navbar height to reinstate Bootswatch style
.topbar_modules > * {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

// Bootstrap variable overrides seem to have to be here to be effective.
// Override Bootstrap CSS variable for valid CSS calc in mod-logo (0 must have a unit).
.navbar {
    --bs-navbar-padding-y: 0px;
    --bs-navbar-color: #fff;
    --bs-navbar-hover-color: #{$gray-200};
}
.card-body .navbar {
    border: none;
}
