// Files for the Neubrutiki theme for Tiki Wiki CMS Groupware, Bootstrap 5+.
/*  The Neubrutiki theme for Tiki Wiki CMS Groupware. */
// References: https://youtu.be/uHX3oTCFJzw https://hype4.academy/articles/design/neubrutalism-is-taking-over-web
// https://dribbble.com/tags/neubrutalism  https://colorswall.com/palette/189749
// https://designingforuncertainty.com/2022/04/03/neubrutalism-is-taking-over-web-design/

:root {
    --bs-card-cap-bg: null;
}
@import url(https://fonts.bunny.net/css?family=bebas-neue:400&display=swap);
// @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inria+Sans:wght@300;400;700&family=Roboto:wght@400;500;700&display=swap');

@import "../../base_files/scss/_tiki-bootstrap_functions"; // 1. Functions are included first (so colors, etc. can be manipulated).

@import "../scss/variables"; // 2. The first value declaration (the theme's) is used when it is declared in more than one imported file.
@import "../../default/scss/variables"; // 3. Adds default variables for any not declared by the theme variables file.
@import "../scss/variables-dark"; // 4. Values of dark variables if color modes are enabled.
@import "../../default/scss/variables-dark"; // 5. Adds default dark variables for any not declared by the theme dark variables file.
@import "../scss/css-variables"; // 6. Imported after default CSS variables to override them.
@import "../../base_files/scss/_tiki-variables.scss"; // 7. Default value declarations for Tiki variables (in addition to Bootstrap variables) such as in _tiki-selectors.scss.

@import "../../base_files/scss/_tiki-bootstrap_layout_and_components"; // 8. Remainder of required Bootstrap parts.
@import "../../base_files/scss/_tiki-selectors.scss"; // 9. Tiki CSS selectors used globally.
@import "../../base_files/scss/_tiki-pagetop_colors.scss"; // 10. Optionally imported to group (separately) the top and topbar zone components for styling.
@import "../scss/_tiki-selectors.scss"; // 11. Tiki CSS selectors, including those of external scripts, to be styled by the theme's variables.
