/* Bootswatch theme adapted by the Tiki Community for Tiki Wiki CMS Groupware */
/* Original Bootswatch information:
 * bootswatch v5.2.0
 * Homepage: http://bootswatch.com
 * Copyright 2012-2022 Thomas Park
 * Licensed under MIT
 * Based on Bootstrap
 *
 * Adapted by the Tiki Community for Tiki Wiki CMS Groupware
*/

@import "../../base_files/scss/_tiki-bootstrap_functions"; // 1. Functions are included first (so colors, etc. can be manipulated).

@import "../scss/variables"; // 2. The first value declaration (the theme's) is used when it is declared in more than one imported file.
@import "../scss/variables-dark"; // 3. Values of dark variables if color modes are enabled.
@import "../../../node_modules/bootswatch/dist/spacelab/variables"; // 4. Default Bootswatch theme variables.
@import "../../default/scss/variables"; // 5. Adds default variables for any not declared by the theme variables file.
@import "../../default/scss/variables-dark"; // 6. Adds default dark variables for any not declared by the theme dark variables file.
@import "../scss/css-variables"; // 7. Imported after default CSS variables to override them.
@import "../../base_files/scss/_tiki-variables.scss"; // 8. Default value declarations for Tiki variables (in addition to Bootstrap variables) such as in _tiki-selectors.scss.

@import "../../base_files/scss/_tiki-bootstrap_layout_and_components"; // 9. Remainder of required Bootstrap parts.
@import "../../../node_modules/bootswatch/dist/spacelab/bootswatch"; // 10. Bootswatch theme selectors
@import "../../base_files/scss/_tiki-selectors.scss"; // 11. Tiki CSS selectors used globally.
@import "../../base_files/scss/_tiki-pagetop_colors.scss"; // 12. Optionally imported to group (separately) the top and topbar zone components for styling.
//@import "../scss/_tiki-selectors.scss"; // 11. Tiki CSS selectors, including those of external scripts, to be styled by the theme's variables.



.topbar .navbar {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.topbar_modules > * {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

// Replicate navbar color used on Bootswatch sample page, in that case for bg-primary
//.tiki .navbar-dark.bg-dark {
//    background-image: linear-gradient(#6d94bf, #446e9b 50%, #3e648d) !important;
//    -webkit-filter: none;
//    filter: none;
//    border: 1px solid #345578;
//    nav#topbar_modules,
//    #topbar_modules .navbar.navbar-dark.bg-dark {
//        background: transparent !important;
//        background-image: none !important;
//        border: none !important;
//    }
//}

.tiki .navbar-light.bg-light {
    background-image: linear-gradient(white, #eee 50%, #e4e4e4) !important;
    -webkit-filter: none;
    filter: none;
    border: 1px solid #d5d5d5;
    nav#topbar_modules,
    #topbar_modules .navbar.navbar-light.bg-light {
        background: transparent !important;
        background-image: none !important;
        border: none !important;
    }
}
.navbar {
    --bs-navbar-color: #{$link-color};
}

.navbar:not(.bg-dark,.bg-light) {
    .nav-link {
        color: var(--bs-link-color);
        &:hover,
        &:active,
        & .highlighted {
            color: var(--bs-link-hover-color);
        }
    }
}
