// These FiveAlive-lite Grape theme option variables are applied to fivealive-lite/scss/fivealive-lite_option_selectors.scss.

// - - - - - - - Bootstrap variables (override values in node_modules/bootstrap/scss/_variables.scss - - - - - - //
// Color system

// scss-docs-start gray-color-variables
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;
// scss-docs-end gray-color-variables

// fusv-disable
// scss-docs-start gray-colors-map
$grays: (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
) !default;
// scss-docs-end gray-colors-map
// fusv-enable

// scss-docs-start color-variables
$blue:    #0d6efd !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #d63384 !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #198754 !default;
$teal:    #20c997 !default;
$cyan:    #0dcaf0 !default;
// scss-docs-end color-variables

// scss-docs-start colors-map
$colors: (
    "blue":       $blue,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "black":      $black,
    "white":      $white,
    "gray":       $gray-600,
    "gray-dark":  $gray-800
) !default;
// scss-docs-end colors-map
$white:    #fff;
$black:    #000;
$light: #a02871;
$dark: #551e3d;

$red-300: tint-color($red, 40%) !default;
$green-300: tint-color($green, 40%) !default;

$theme-colors: (
    "primary":            #a52873,
    "secondary":         #3c2846,
    "success":             #5cb85c,
    "info":             #551e3c,
    "warning":             #f0ad4e,
    "danger":              #d00b0b,
    "light":            #fff,
    "dark":                #8e286a
);

$primary:       #a52873;
$secondary:     #3c2846;
$success:       #5cb85c;
$info:          #551e3c;
$warning:       #f0ad4e;
$danger:        #d00b0b;
$light:         #fff;
$dark:          #8e286a;

$theme-colors: map-merge(
        (
            "primary":    $primary,
            "secondary":  $secondary,
            "success":    $success,
            "info":       $info,
            "warning":    $warning,
            "danger":     $danger,
            "light":      $light,
            "dark":       $dark
        ),
        $theme-colors
);

// The following are default values from node_modules/bootstrap/scss/variables.scss - change as needed for theme child option (or to match values in parent theme).
// Comment-out any that are already defined in the parent theme variables.scss file and shouldn't be redefined.
//$color-c-threshold:  150;

$color-contrast-dark:             $gray-900 !default;
$color-contrast-light:            $white !default;

$bg-light: #a02871 !important;

// Options

// Prefix
$prefix: bs-;

// Body
$body-bg:                   $white !default;
$body-color: #212529;

// Links
$link-color: #a02871;
$link-hover-color: #a02871;
$link-shade-percentage:                   20% !default;

// Navs
$nav-tabs-link-color: #000;
$nav-tabs-link-bg: #f4dded;;
$nav-tabs-link-active-color: #fff;
$nav-tabs-link-active-bg: #742157; // same as $dropdown-link-hover-bg;

// Navbars
//$top-bg: #a52874;
$top-color: #fff;
//$top-link-color: #fff;
//$top-link-hover-color: #f9f9f9;
//$topbar-bg: #551e3d;
$bg-dark: #8e286a;
$bg-light: #f4dded;
//$page-header-link-color: #000;
//$topbar-link-color: #fff;

// navbar link hover colors
$bg-dark-link-hover-color: #f2f2f2;
$bg-dark-link-hover-bg: #003c4a;

// Dropdowns
$dropdown-dark-link-hover-bg:       rgba($white, .15) !default;

// Typography
$text-muted:  var(--#{$prefix}secondary-color) !default; // Deprecated in 5.3.0 -- #6B737B;
$hr-color: #a02871;

// Cards
$card-border-color: #bc2f84;

// Tables
$table-border-color: #a82a76;
$table-accent-bg: #f9f9f9;
$table-hover-bg: #f5f5f5;

$component-active-bg: $card-border-color;

// Forms
$input-color: var(--#{$prefix}body-color) !default; // #555555;
$input-bg: var(--#{$prefix}body-bg) !default; // #f4dded;
$input-border-color: var(--#{$prefix}border-color) !default; // #e4afd3;
$input-border-top-color: #e4afd3;
$input-border-right-color: #fff;
$input-border-bottom-color: #fff;
$input-border-left-color: #e4afd3;
$input-focus-border-color: lighten($component-active-bg, 25%);

// Form validation

// Dropdowns
$dropdown-bg: #8e286a; //#c82b8b;
$dropdown-border-color: rgba(0, 0, 0, 0.15);
$dropdown-link-color: #ffffff;
$dropdown-link-hover-color: #f2f2f2;
$dropdown-link-hover-bg: #742157;
$dropdown-link-active-color: #ffffff;
$dropdown-link-active-bg: #2e1f39;
$dropdown-link-disabled-color: #f2f2f2;
$dropdown-header-color: #ffffff;
$dropdown-divider-bg: $dropdown-bg;

$dropdown-dark-color: #fff;
$dropdown-dark-bg: $dropdown-bg;

// Pagination
$nav-pills-link-active-bg: #a02871;
$pagination-color: #a02871;
$pagination-bg: #ffffff;
$pagination-border-color: #dddddd;
$pagination-hover-color: #a02871;
$pagination-hover-bg: #eeeeee;
$pagination-hover-border-color: #dddddd;
$pagination-active-bg: #a02871;
$pagination-active-border-color: #a02871;
$pagination-disabled-color: #999999;
$pagination-disabled-bg: #ffffff;
$pagination-disabled-border-color: #dddddd;

// Code
$code-color:                        $body-color; // $pink !default;


// - - - - - - - - - -  - - - - - - Other variables, if any - - - - - - - - - - - - - - - - - //

// Aug 18 2022 start
$top-bg: #a52874; // Used for $post-card-header-bg and .postbody-title
$top-color: #fff;
$top-link-color: #fff;
$top-link-hover-color: #f9f9f9;
//$topbar-bg: #063035;

$top-dark-bg: #a52874;
$top-dark-color: #fff;
$topbar-dark-bg: #551e3d; // $topbar-light-bg;
$topbar-dark-color: #fff;

$top-light-bg: $top-dark-bg; // #a52874;
$top-light-color: $top-dark-color; // #fff;
$topbar-light-bg: $topbar-dark-bg;  // #551e3d;
$topbar-light-color: $topbar-dark-color; //#fff;

$navbar-light-link-color: $top-light-color;
$navbar-light-link-hover-color: #f2f2f2;
$navbar-light-link-hover-bg: #003c4a;

$navbar-dark-link-color: $top-light-color;
$navbar-dark-link-hover-color: #f2f2f2;
$navbar-dark-link-hover-color: $navbar-light-link-hover-color;
//$navbar-light-link-hover-bg: #003c4a;
// Aug 18 2022 revamp end

//$bg-light-alt: #117485 !important;

$side-column-heading-color: #bc2f84;

$middle_outer-inset-shadow-bg: #8e286a;
$footer_liner-card-inner-border: #a52873;

$footer-accent-color: $input-border-color;
$footer-btn-secondary-color: #f4f4f4;
$footer_liner-border-color: $footer-accent-color;

//$autotoc-nav-bg: #ffffff;
//$autotoc-nav-border: #8e286a;
//$autotoc-color: #8e286a;
//$autotoc-nav-li-link-hover-color: #f2f2f2;
//$autotoc-nav-li-link-hover-bg: #003c4a;

$bg-dark-info: #00DAE6;

// CSS variables / custom properties for base_files/scss/_tiki-pagetop_colors.scss -- Interpolation info from https://developersink.com/css/css-custom-properties-sass-variables/
// Background images (actual images or CSS gradients, etc.), if assigned, override background colors.
.tiki .tiki-top-nav-light {
    --tiki-top-bg: #{$top-light-bg} !important;
    --tiki-top-color: #{$top-link-color};
    --tiki-top-hover-color: #{$top-link-hover-color};
    --tiki-top-text-color: #{$top-link-hover-color};
    --tiki-top-border: solid #000;
}

.tiki .tiki-topbar-nav-light {
    --tiki-topbar-bg: #{$topbar-light-bg};
    --tiki-topbar-color: #{$top-light-color};
    --tiki-topbar-hover-color: #{$navbar-light-link-hover-color};
    --tiki-topbar-text-color: #{$navbar-light-link-hover-color};
}

.tiki .tiki-top-nav-dark {
    --tiki-top-bg: #{$top-dark-bg} !important;
    --tiki-top-color: #{$navbar-dark-link-color};
    --tiki-top-hover-color: #{$navbar-dark-link-hover-color};
    --tiki-top-text-color: #{$navbar-dark-link-hover-color};
    --tiki-top-border: solid #000;
}

.tiki .tiki-topbar-nav-dark {
    --tiki-topbar-bg: #{$topbar-dark-bg};
    --tiki-topbar-color: #{$navbar-dark-link-color};
    --tiki-topbar-hover-color: #{$navbar-dark-link-hover-color};
    --tiki-topbar-text-color: #{$navbar-dark-link-hover-color};
}

.tiki-nav-top-light, .tiki-nav-top-dark {
    --tiki-top-border-top-width: 0px;
    --tiki-top-border-bottom-width: 5px;
}

// - - - - - New admin pages (Unified Admin Backend) - - - - - - - //

// Light navbar minus top nav
.tiki .tiki-admin-top-nav-light,
.tiki .tiki-admin-aside-nav-light {
     --tiki-admin-top-nav-color:#{$top-link-color};
//    --tiki-admin-top-nav-color: #{$top-link-hover-color};
    --tiki-admin-top-nav-link-bg: none ;
    --tiki-admin-aside-nav-bg: #{$top-light-bg};
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
//    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-hover-color);
    --tiki-admin-dropdown-bg: #{$dropdown-bg};
    --tiki-admin-dropdown-link-color: #{$top-link-color};
    --tiki-admin-dropdown-link-hover-color: #{$dropdown-link-hover-color};
    --tiki-admin-dropdown-link-hover-bg: #{$dropdown-link-hover-bg};
}
// Light top nav
.tiki.tiki-admin .top_modules.navbar-light-parent {
    --tiki-admin-top-nav-bg: #{$top-light-bg};
}

// Dark navbar minus top nav
.tiki .tiki-admin-top-nav-dark,
.tiki .tiki-admin-aside-nav-dark {
    --tiki-admin-top-nav-color: #{$navbar-dark-link-color};
    --tiki-admin-top-nav-hover-color: #{$navbar-dark-link-hover-color};
//    --tiki-admin-top-nav-link-hover-bg: #{$navbar-dark-hover-color};
    --tiki-admin-aside-nav-bg: #{$top-dark-bg};
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
    --tiki-admin-dropdown-link-color: #f9f9f9;// #{$top-light-color};
    --tiki-admin-dropdown-bg: #{$dropdown-dark-bg};
    --tiki-admin-dropdown-link-hover-color: #{$dropdown-link-hover-color};
    --tiki-admin-dropdown-link-hover-bg: #{$dropdown-dark-link-hover-bg};
    .accordion-button::after {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    }
}
// Dark top nav
.tiki.tiki-admin .top_modules.navbar-dark-parent {
    --tiki-admin-top-nav-bg: #{$top-dark-bg};
}
// - - - - - New admin pages (Unified Admin Backend) END - - - - - - - //

.accordion {
    --bs-accordion-active-bg: #{$top-dark-bg};
    --bs-accordion-active-color: #fff;
    --bs-accordion-btn-bg: #{$bg-light};
}