/* Bootswatch theme adapted by the Tiki Community for Tiki Wiki CMS Groupware */
/* Original Bootswatch information:
 * bootswatch v5.3.3
 * Homepage: http://bootswatch.com
 * Copyright 2012-2022 Thomas Park
 * Licensed under MIT
 * Based on Bootstrap
 *
 * Adapted by the Tiki Community for Tiki Wiki CMS Groupware
*/

@import "../../base_files/scss/_tiki-bootstrap_functions"; // 1. Functions are included first (so colors, etc. can be manipulated).

@import "../scss/variables"; // 2. The first value declaration (the theme's) is used when it is declared in more than one imported file.
@import "../scss/variables-dark"; // 3. Values of dark variables if color modes are enabled.
@import "../../../node_modules/bootswatch/dist/lumen/variables"; // 4. Default Bootswatch theme variables.
@import "../../default/scss/variables"; // 5. Adds default variables for any not declared by the theme variables file.
@import "../../default/scss/variables-dark"; // 6. Adds default dark variables for any not declared by the theme dark variables file.
@import "../scss/css-variables"; // 7. Imported after default CSS variables to override them.
@import "../../base_files/scss/_tiki-variables.scss"; // 8. Default value declarations for Tiki variables (in addition to Bootstrap variables) such as in _tiki-selectors.scss.

@import "../../base_files/scss/_tiki-bootstrap_layout_and_components"; // 9. Remainder of required Bootstrap parts.
@import "../../../node_modules/bootswatch/dist/lumen/bootswatch"; // 10. Bootswatch theme selectors
@import "../../base_files/scss/_tiki-selectors.scss"; // 11. Tiki CSS selectors used globally.
@import "../../base_files/scss/_tiki-pagetop_colors.scss"; // 12. Optionally imported to group (separately) the top and topbar zone components for styling.
//@import "../scss/_tiki-selectors.scss"; // 11. Tiki CSS selectors, including those of external scripts, to be styled by the theme's variables.


// Increase navbar height to reinstate Bootswatch style
.topbar_modules > * {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

/* Search preferences > button */
.tiki-admin aside.admin-nav li form .my-1 .input-group {
    overflow: hidden;
}

.tiki-admin aside.admin-nav li form .my-1 .btn:hover {
    margin-bottom: -1px;
}

.tiki-admin aside.admin-nav li form .my-1 .btn {
    border: solid;
    border-width: 0 1px 4px 1px;
    border-color: #137ea7;
    padding: .25rem .5rem;
}

.tiki-admin aside.admin-nav li form .my-1 .fas {
    width: 1.25em;
}

// Move border from navbar to parent
.topbar-wrapper.bg-light-parent {
    border: solid #eee;
    border-width: 0 1px 4px 1px;
}
.topbar-wrapper.bg-dark-light {
    border: solid #4d4d4d;
    border-width: 0 1px 4px 1px;
}
.form-check-input {
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.075);
}