// Materia 5.3,3 -- This overrids and adds to node_modules/bootswatch/dist/materia/_variables.scss with
// Tiki CSS variables added and color values updated to better comply with WCAG guidelines.

//
// Color system
//
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #eee !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #bbb !default;
$gray-600: #666 !default;
$gray-700: #444 !default;
$gray-800: #222 !default;
$gray-900: #212121 !default;
$black:    #000 !default;

$blue:    #2196f3 !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #e51c23 !default;
$orange:  #fd7e14 !default;
$yellow:  #ff9800 !default;
$green:   #4caf50 !default;
$teal:    #20c997 !default;
$cyan:    #9c27b0 !default;

$green-300: tint-color($green, 40%) !default;
$red-300: tint-color($red, 40%) !default;

$primary:       #0B78D0; // $blue !default;
$secondary: #567476;
$success: #4caf50;
$info: #9c27b0;
$warning: #ff9800;
$danger: #e51c23;

// Options
// Prefix
$prefix: bs-;

// Body
$body-color:    $gray-700 !default;

// Typography
$link-shade-percentage:                   20% !default; // Bootstrap 5.3

// stylelint-disable-next-line value-keyword-case
$font-family-sans-serif:    Optima, Candara, 'Noto Sans', source-sans-pro, sans-serif; // Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif !default;
$font-size-base:            1.05rem; // 1rem !default;

$headings-font-weight:      600; //  500 !default;

// Buttons

// Forms

$input-bg:                       var(--#{$prefix}body-bg) !default; // transparent !default;
$input-color:                    var(--#{$prefix}body-color) !default; // $gray-600 !default;
$input-placeholder-color:        var(--#{$prefix}secondary-color) !default; // rgba(0, 0, 0, .4) !default;

// Form validation
$form-valid-color: #3A833C;
// Navs

$nav-link-disabled-color:       var(--#{$prefix}secondary-color) !default; // $gray-500 !default;

// Navbar

// Cards

// Tooltips

// Modals

// Progress bars

// Close

// Code
$code-color:                      $body-color; //   $pink !default; // Bootstrap 5.3

//--------------------------- Tiki SCSS variables

// Bootswatch overrides

$web-font-path: none; // Override value in vendor file

.tiki .select2-container--bootstrap-5 .select2-selection {
    padding: 0 !important;
    box-shadow: inset 0 -1px 0 #ddd;
}

// Increase height to compensate for theme's extra padding
.tiki .select2-container--bootstrap-5 .select2-selection {
    min-height: calc(2.2em + 0.75rem + 2px);
}

.tiki .select2-container--bootstrap-5 .select2-selection--single .select2-selection__rendered {
    padding: 1rem 0 !important;
}

.tiki .select2-container--bootstrap-5.select2-container--disabled .select2-selection,
.tiki .select2-container--bootstrap-5.select2-container--disabled.select2-container--focus .select2-selection {
    background: $input-bg;
}
